# Node.js dependencies
node_modules/
frontend/node_modules/
frontend-client/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Build files
Backend/dist/
Backend/coverage/
frontend/dist/
frontend-client/dist/

# Temporary files
*.tmp
*.swp
*.swo

# Others
*.bak
*.backup
